* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*Katelyn Griffin Logan Morris*/
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction:column-reverse;
    align-items: center;
    background: linear-gradient(rgb(4, 224, 252), rgb(0, 255, 33));
    font-family: sans-serif;
    color: deeppink;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}


.degree-section {
    display: flex;
    align-items: center;
    cursor: crosshair;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;

}